/* styles for 300px screen sizes */
.parent {
    margin: 0.5rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13rem;
    border-radius: 10px;
    border: 0.1px solid #798698;
    padding: 0.4rem;
}
.header {
    display: flex;
    justify-content: center;
}
.header span {
    font-size: 1.8rem;
    font-weight: 700;
    /* border: 1px solid #9aacc6; */
}
.card p {
    border-radius: 3px;
    border: 0.1px solid #798698;
    margin: 0.5rem 0.1rem;
    padding: 0.4rem;
}
.buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;
}